node_modules
npm-debug.log
dist
coverage
.git
.gitignore
.env
.env.*
!.env.example
*.md
.vscode
.idea
test
*.spec.ts
*.e2e-spec.ts
.DS_Store
*.log
.cache
.eslintcache
tsconfig.build.tsbuildinfo
*.tsbuildinfo

